@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*,
*::before,
*::after
{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: whitesmoke;
}


h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: inherit;
    font-size: inherit;
}

ul,
li,
ol
{
    list-style-type: none;
}

img
{
    vertical-align: top;
    max-width: 50px;
    max-height: 50px;
}

html,
body
{
    height: 100%;
    line-height: 1;
    background-color: #4D539D;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    
}

header{
    max-height: 200px;
    background-color: #21244b;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

[class*='_container']
{
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 15px;
}

.header_container{
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-basis: 200px;
}

.logotype{
    border-radius: 5px;
}

.company_name{
    font-family: "Itim";
    font-size: 35px;
    margin-left: 20px;
}

.search{
    display: flex;
    padding: 15px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.search_bar{
    margin-right: 15px;
    background: transparent;
    outline: 0;
    color: whitesmoke;
    font-size: 16px;
    max-width: 150px;
}

.side-menu{
    display: flex;
    flex-basis: auto;    
    justify-content: center;
    min-height: 60px;
    align-items: center;
}

.phone_menu{
    display: none;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: whitesmoke;
    border-radius: 100%;
}

.x_bar{
    position: relative;
    width: 50px;
    background-color: black;
    height: 8px;
}

.x_bar::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 8px;
    top: -15px;
    left: 0;
    background-color: black;
    transition: .5s;
}

.x_bar::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 8px;
    bottom: -15px;
    left: 0;
    background-color: black;
    transition: .5s;
}

.phone_menu:hover .x_bar{
    background-color: transparent;
}

.phone_menu:hover .x_bar::after{
    transform: translate(0, -15px) rotate(-45deg);
}

.phone_menu:hover .x_bar::before{
    transform: translate(0, 15px) rotate(45deg);
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 16px;
    flex: 1 1 auto;
    
}

.items{
    flex: 1 1 auto;
    padding: 15px;
}
    
.sub_navbar{
    display: none;
}

.subitems{
    padding: 20px 15px;
}

.items:hover .sub_navbar{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #21244b;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.avatar{
    border-radius: 100%;
    margin-left: 15px;
    position: relative;
}

.avatar_block{
    background-color: black;
    border-radius: 100%;
}

.user{
    border-radius: 100%;
    transform: scale(.9);
}

.status.online{
    background-color: green;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1.5px solid whitesmoke;
}

.status.offline{
    background-color: tomato;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1.5px solid whitesmoke;
}

@media (max-width: 1087px)
{
    [class*='_container']
    {
        max-width: 970px;
    }
}

@media (max-width: 991.98px)
{
    [class*='_container']
    {
        max-width: 750px;
    }
    
    .logo{
        max-width: fit-content;
    }

    .company_name{
        font-size: 22px;
        margin-left: 10px;
    }

    .search_bar{
        max-width: 100px;
    }

    .fa-angle-down{
        display: none;
    }

    .items{
        font-size: 14px;
        padding: 8px;
    }
}

