@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*,
*::before,
*::after
{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: whitesmoke;
}


h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: inherit;
    font-size: inherit;
}

ul,
li,
ol
{
    list-style-type: none;
}

img
{
    vertical-align: top;
}

.bar_img{
    max-width: 40px;
    max-height: 40px;
}

.add_bar{
    max-width: 60px;
    max-height: 60px;
}

html,
body
{
    min-height: 100%;
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    
}

.wrapper
{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main{
    flex: 1 1 auto;
}

footer{
    min-height: 160px;
    background-color: #21244b;
    transition: .5s;
}

header{
    max-height: 90px;
    background-color: rgb(33, 36, 75);
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    transition: .5s;
    z-index: 9;
}

header.active,
footer.active{
    background-color: rgb(77, 72, 71);
}

[class*='_container']
{
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 15px;
}

header.fixed_pos{

    backdrop-filter: blur(4px);
    position: fixed;
    width: 100%;
    top: -100%;
}

header.fixed_pos.show{
    top: 0%;
}

.header_container{
    display: flex;
    justify-content: space-around;
    max-height: 60px;
    align-items: center;
    padding: 4px 15px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: start;
}

.logotype{
    border-radius: 5px;
}

.company_name{
    font-family: "Itim";
    font-size: 24px;
    margin-left: 12px;
}

.change_block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 700px;
    z-index: 90;
}

.search{
    display: flex;
    padding: 7px;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.search_bar{
    margin-right: 10px;
    background: transparent;
    outline: 0;
    color: whitesmoke;
    font-size: 16px;
    max-width: 150px;
}

.side-menu{
    display: flex;
    flex-basis: auto;    
    justify-content: center;
    min-height: 60px;
    align-items: center;
}

.phone_menu{
    display: none;
    position: relative;

}

.x_bar{
    position: relative;
    width: 24px;
    background-color: whitesmoke;
    height: 3px;
    border-radius: 4px;
}


.x_bar::before{
    position: absolute;
    content: "";
    border-radius: 4px;
    width: 100%;
    height: 3px;
    top: -10px;
    left: 0;
    background-color: whitesmoke;
    transition: .3s;
}

.x_bar::after{
    position: absolute;
    content: "";
    border-radius: 4px;
    width: 100%;
    height: 3px;
    bottom: -10px;
    left: 0;
    background-color: whitesmoke;
    transition: .3s;
}

.x_bar.active{
    background-color: transparent;
}

.x_bar.active::after{
    transform: translate(0, -10px) rotate(-45deg);
}

.x_bar.active::before{
    transform: translate(0, 10px) rotate(45deg);
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 16px;    
}

.items{
    flex: 1 1 auto;
    padding: 15px;
}
    
.sub_navbar{
    display: none;
    padding: 10px;
}

.subitems{
    padding: 10px 15px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.theme{
    width: 40px;
    height: 20px;
    border-radius: 15px;
    display: flex;
    margin: 0 10px;
}

.profile_info{
    position: absolute;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #303030;
    border-radius: 10px;
    z-index: -1;
    right: 0;
    transition: .5s;
    padding: 5px;
    margin: 5px 5px 0 0;
}

.user_prof{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 8px;
}

.user_prof .user_nick{
    font-size: 24px;
    padding-left: 10px;
}

.wrap{
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px;
}

.wrap .profile_block{
    font-size: 12px;
    font-weight: 500;
    display: flex;
    margin: 5px;
    justify-content: center;
    background-color: #3F3F3F;
    border-radius: 8px;    
    align-items: center;
    flex-direction: column;
    
}

.wrap .profile_block:hover{
    background-color: rgb(107, 108, 108);
}

.params{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

.swap_theme{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prof_text{
    font-size: 18px;
    cursor: default;
}

.swapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.param_items{
    margin: 5px;
    padding: 10px;
}

.param_items:hover{
    background-color: #565759;
    border-radius: 8px;
}

.theme.light{
    justify-content: flex-start;
    background-color: #aeafb1;
}

.theme.night{
    justify-content: flex-end;
    background-color: #007AFF;
}

.switcher{
    width: 16px;
    border-radius: 100%;
    background-color: whitesmoke;
    margin: 2px;
}

.avatar{
    margin-left: 15px;
    position: relative;
}

.avatar_block{
    background-color: black;
    border-radius: 100%;
}

.user{
    border-radius: 100%;
    transform: scale(.9);
}

.status.online{
    background-color: green;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1.5px solid whitesmoke;
}

.status.offline{
    background-color: tomato;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1.5px solid whitesmoke;
}

.footer_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    color: whitesmoke;
}

.networks{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
}

.footer_container p {
    font-size: 16px;
}

.footer_container > :nth-child(even){
    padding: 15px 0 ;
}

.contacts{
    display: flex;
    flex-basis: 200px;
    justify-content: space-around;
}

.copyright{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.info_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.add_info > p{
    text-transform: uppercase;
    position: relative;
    width: fit-content;
}

.add_info > p::after{
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    background-color: rgb(46, 80, 179);
    bottom: -5px;
    left: 0;
    border-radius: 1px;
}

.info_bar{
    margin-top: 10px;
}

.info_bar > :nth-child(odd){
    padding: 10px 0;
}

.details{
    font-size: 14px;
}

.profile_info.open{
    opacity: 1;
    visibility:visible;
    transform: translateY(60px);
    z-index: 999;
}

.items.active .sub_navbar{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #21244b;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.fa-angle-down{
    transition: .5s;
}

.items.active .fa-angle-down{
    transform: rotate(180deg);
}

header.active .items.active .sub_navbar{
    background-color: rgb(77, 72, 71);
}

.item{
    cursor: pointer;
}

@media (min-width: 992px)
{
    .item:hover{
        color: tomato;
    }
}
@media (max-width: 1087px)
{
    [class*='_container']
    {
        max-width: 970px;
    }
}

@media (max-width: 991.98px)
{
    [class*='_container']
    {
        max-width: 750px;
    }
    
    .logo{
        max-width: fit-content;
    }

    .company_name{
        font-size: 18px;
        margin-left: 10px;
    }

    .change_block{
        justify-content: center;
    }

    .search_bar{
        max-width: 100px;
    }

    .items{
        font-size: 14px;
        padding: 8px;
    }


}

@media (min-width: 768px){
    header.fixed_pos{
        background-color: rgb(33, 36, 75, 0.6);
    }

    header.active.fixed_pos{
        background-color: rgb(77, 72, 71, 0.6);
    }
}

@media (max-width: 767.98px) {
    
    [class*='_container']
    {
        max-width: none;
    }

    .bar_img{
        max-width: 32px;
        max-height: 32px;
    }

    header{
        box-shadow: none;
    }

    .header_container{
        justify-content: space-around;
        min-height: 56px;
    }

    .company_name{
        display: none;
    }

    .phone_menu{
        display: flex;
        order: -1;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
    }

    .change_block{
        position: absolute;
        width: 100%;
        top: 0;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #21244b;
        margin-top: 56px;
        padding: 20px 0;
        left: -100%;
        transition: .5s;
    }

    header.active .change_block{
        background-color: rgb(77, 72, 71);
    }

    .change_block.active{
        left: 0;
    }

    .navbar{
        flex-direction: column;
        padding-top: 10px;
        width: 100%;
        align-items: center;
    }

    
    .items.active .sub_navbar{
        position: relative;
        align-items: center;
        box-shadow: none;
        padding: 0px;
        margin-top: 10px;
    }

    .side-menu{
        justify-content: center;
        min-width: 300px;
    }

    .items,
    .subitems
    {
        width: fit-content;
        font-size: 16px;
        text-align: center;
    }

    .logo{
        flex-direction: column;   
    }

    .company_name{
        margin: 0;
    }

    .networks{
        flex-direction: column;
    }

    .contacts{
        flex-basis: auto;
        padding: 15px 0;
    }

    .contacts > :nth-child(even){
        padding: 0 20px;
    }

    .details{
        font-size: 10px;
    }

    .add_info > p{
        font-size: 11px;
    }

    .user.add_bar{
        width: 40px;
        height: 40px;
    }
    
    .user_nick{
        font-size: 16px;
    }

    .user_prof{
        margin: 4px;
    }

    .param_items{
        padding: 4px;
    }

    .prof_text{
        font-size: 14px;
    }

    .wrap{
        grid-template-columns: 70px 70px 70px;
        grid-template-rows: 70px 70px;
    }

    .wrap .profile_block{
        font-weight: 0;
        font-size: 10px;
    }
    .params{
        padding: 4px;
    }
}