@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

*,
*::before,
*::after
{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: whitesmoke;
}


h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: inherit;
    font-size: inherit;
}

ul,
li,
ol
{
    list-style-type: none;
}

img
{
    vertical-align: top;
    max-width: 50px;
    max-height: 50px;
}

html,
body
{
    height: 100%;
    line-height: 1;
    background-color: #4D539D;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    
}

header{
    max-height: 200px;
    background-color: #303674;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

[class*='_container']
{
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 15px;
}

.header_container{
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-basis: 200px;
}

.company_name{
    font-family: "Itim";
    font-size: 35px;
    margin-left: 20px;
}

.search{
    display: flex;
    padding: 15px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.search_bar{
    margin-right: 15px;
    background: transparent;
    outline: 0;
    color: whitesmoke;
    font-size: 16px;
    max-width: 150px;
}

.side-menu{
    display: flex;
    flex-basis: auto;    
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 16px;
    flex: 1 1 auto;
}

.items{
    flex: 1 1 auto;
    padding: 15px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.avatar{
    border-radius: 100%;
    margin-left: 15px;
    position: relative;
}

.avatar_block{
    background-color: black;
    border-radius: 100%;
}

.user{
    border-radius: 100%;
    transform: scale(.9);
}

.status{
    background-color: green;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
