.main_container{
    display: flex;
    flex-direction: column;
}

.catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 40px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(132, 128, 128);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 20px;
    margin: 20px;
    padding: 20px 15px;
    overflow: hidden;
    position: relative;
    color: whitesmoke;
    flex: 0 1 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.card *{
    transition: .5s;
    z-index: 8;
}

.bg{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    top: -50px;
    left: -50px;
    background-color: aquamarine;
    margin: 0;
    z-index: 7;
}

.linkToProd{
    text-align: center;
    border-radius: 10px;
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.prodPhoto{
    max-width: 140px;
    filter: drop-shadow(5px 5px 5px #222);
}

.prodName{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: whitesmoke;
    text-align: start;
    
}

.but{
    background-color: rgba(31, 160, 59, 0.4);
    padding: 15px 30px;
    border-radius: 7px;
    cursor: default;
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.4) 0 4px;
}

.but:active{
    transform: translate(0px, 4px);
    box-shadow: none;
    transition: none;
}

.slider_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 30px 0;
}

.under_slide{
    width: 80%;
    height: 20px;
    display: flex;
    align-items: center;
}

.add_about_prod{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    text-transform: capitalize;
    height: 30px;
    cursor: default;
    font-size: 14px;
}

.color_var{
    display: flex;
    flex-basis: 50px;
    justify-content: flex-start;
    height: 20px;
    gap: 5px;
    padding: 0 5px;
    flex: 1 1 auto;
}

.price{
    font-size: 18px;
    text-align: end;
}

.color_item{
    flex-basis: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color_item.red{
    background-color: rgb(197, 61, 16);
}

.color_item.blue{
    background-color: rgb(66, 143, 190);
}

.color_but{
    border-radius: 100%;
    width: 80%;
    height: 80%;
    border: 1.5px solid whitesmoke;
    display: none;
}

.color_item.active .color_but{
    display: block;
}

.slider_line{
    display: flex;
    flex-basis: 100%;
}

.slider_line .line{
    margin: 0 10px;
    padding: 3px;
    flex: 1 1 auto;
    background-color: rgb(84, 83, 83, 0.4);
    transition: 1s;
}

.line.active{
    background-color: rgb(84, 83, 83)
}

.slider{
    display: flex;
    align-items: center;
}

.slide_photos{
    display: flex;
    position: relative;
    align-items: center;
    transition: 1s;
}

.image_slide{
    width: 100%;
    max-height: 400px;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    color: whitesmoke;
    font-size: 60px;
}


.arrow:active{
    transform: translate(2px, 2px);
    background-color: rgb(84, 84, 84, 0.6);
}

.left{
    left: 0;
    margin-left: 10%;
}

.right{
    right: 0;
    margin-right: 10%;
}

.left .fa-angle-down{
    transform: rotate(90deg);
}

.right .fa-angle-down{
    transform: rotate(-90deg);
}

.flex_photo{
    flex: 1 0 100%;
}
    
.about_us{
    margin: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text_card{
    text-align: center;
    margin: 0 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    align-items: center;
}

.text{
    line-height: 2;
    font-size: 14px;
}

.caption{
    position: relative;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 20px;
}

.ques{
    font-size: 30px;
}


.ques::after{
    content: '';
    transform: scaleX(0.3);
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    background-color: rgb(213, 95, 95);
}

.list_of_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px 10px;
}

.cards_about{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    align-items: center;
    flex-basis: 350px;
    border-radius: 20px;
    border: 4px solid rgb(167, 165, 164);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.advantage{
    padding: 30px;
    border-radius: 100%;
    font-size: 30px;
    margin-bottom: 20px;
}

.card1{
    background-color: yellowgreen;
}
.card2{
    background-color: aquamarine;
}
.card3{
    background-color: blanchedalmond;
}
.card4{
    background-color:cadetblue;
}
.card5{
    background-color:tomato;
}
.card6{
    background-color:coral;
}

@media (max-width: 767.98px){
    .card{
        margin: 10px 10px;
    }

    .catalog{
        margin: 15px 0px;
    }

    .bg{
        margin: 0;
        width: 90px;
        height: 90px;
        top: -20px;
        left: -20px;
    }

    .slider_menu{
        margin: 0 0 10px 0;
    }

    .advantage{
        font-size: 20px;
        padding: 20px;
    }

    .prodPhoto{
        max-width: 100px;
    }

    .prodName{
        font-size: 14px;
    }

    .but{
        padding: 10px 10px;
        font-size: 10px;
    }

    .arrow{
        width: 30px;
        height: 30px;
        font-size: 20px;
    }

    .cards_about{
        flex-basis: 250px;
    }

    .slider_line .line{
        padding: 2px 0;
        margin: 0 7px;
    }
    
    .text_card{
        margin: 0;
    }

    .caption{
        font-size: 18px;
    }

    .about_us p{
        line-height: 1.5;
        font-size: 12px;
    }
}

@media (hover: hover) and (pointer: fine ) {
    .card.hover .bg{
        transform: translate(30px, -50px) scale(2);
    }
    
    .card.hover .prodPhoto
    {
        transform: translate(20px,-20px) scale(1.2) rotate(20deg);
    }   
}