.catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 20px;
    margin: 40px;
}

.card *{
    margin: 10px;
}

.linkToProd{
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px;
}

.prodPhoto{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.prodName{
    font-size: 20px;
    color: black;
}

.price{
    font-size: 24px;
}

.but{
    background-color: rgba(31, 160, 59, 0.4);
    padding: 15px 30px;
    border-radius: 25px;
    cursor: default;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.4) 0 4px;
}

.but:active{
    transform: translate(0px, 4px);
    box-shadow: none;
}

@media (max-width: 767.98px){
    .card{
        margin: 30px 20px;
    }
    
    .prodPhoto{
        width: 100px;
        height: 100px;
    }

    .prodName{
        font-size: 14px;
    }

    .but{
        padding: 15px 20px;
        border-radius: 20px;
    }
}