.catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 20px;
    margin: 40px;
}

.card *{
    margin: 10px;
}

.linkToProd{
    text-align: center;
    border-radius: 10px;
}

.prodPhoto{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.prodName{
    font-size: 20px;
    color: black;
}

.price{
    font-size: 24px;
}

.but{
    background-color: rgba(31, 160, 59, 0.4);
    padding: 15px 30px;
    border-radius: 25px;
    cursor: default;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.4) 0 4px;
}

.but:active{
    transform: translate(0px, 4px);
    box-shadow: none;
}

.slider_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.under_slide{
    width: 80%;
    height: 20px;
    display: flex;
    align-items: center;
}

.slider_line{
    display: flex;
    flex-basis: 100%;
}

.slider_line .line{
    margin: 0 10px;
    padding: 3px;
    flex: 1 1 auto;
    background-color: rgb(84, 83, 83, 0.4);
    transition: 1s;
}

.line.active{
    background-color: rgb(84, 83, 83)
}

.slider{
    display: flex;
    align-items: center;
}

.slide_photos{
    display: flex;
    position: relative;
    align-items: center;
    transition: 1s;
}

.image_slide{
    width: 100%;
    max-height: 400px;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    color: whitesmoke;
    font-size: 60px;
}


.arrow:active{
    transform: translate(2px, 2px);
    background-color: rgb(84, 84, 84, 0.6);
}

.left{
    left: 0;
    margin-left: 10%;
}

.right{
    right: 0;
    margin-right: 10%;
}

.left .fa-angle-down{
    transform: rotate(90deg);
}

.right .fa-angle-down{
    transform: rotate(-90deg);
}

.flex_photo{
    flex: 1 0 100%;
}
    
  
@media (max-width: 767.98px){
    .card{
        margin: 30px 20px;
    }

    .prodPhoto{
        width: 100px;
        height: 100px;
    }

    .prodName{
        font-size: 14px;
    }

    .but{
        padding: 15px 20px;
        border-radius: 20px;
    }

    .arrow{
        width: 30px;
        height: 30px;
        font-size: 20px;
    }

    .under_slide{
        width: 100%;
    }

    .slider_line .line{
        padding: 2px 0;
        margin: 0 7px;
    }
}
